target
project/project
src/main/scala-2.10
src/main/scala-2.11
.classpath
.project
.cache
.settings
.idea
logs
server/src/main/scala/swagger
server/src/main/resources/routes
client/src/main/scala/swagger
