target
project/project
project/target
src/main/scala-2.10
src/main/scala-2.11
.classpath
.project
.cache
.settings
server/src/main/scala/swagger
server/src/main/resources/routes
client/src/main/scala/swagger
logs
project/my-extension-plugin/target
.idea